---
layout: default
title: xz decoration contrast
permalink: /challenges/xz/decoration_contrast/
---

<main>
  <div class="container challenge-content">
    <h1>decoration contrast</h1>

    <div class="challenge-info-grid">
        <div class="challenge-info">
            <h6>Challenge Information</h6>
            <p><b>Project: </b>xz</p>
            <p><b>Type: </b>full</p>
            <p><b>Harnesses: </b>4</p>
            <p><b>Vulnerabilities: </b>1</p>
            <br>
            <p>
            <a href="https://github.com/AIxCyberChallenge/afc-xz/tree/challenges/xz-full-01" target=_blank>GitHub</a>
            • 
            <a href="https://github.com/AIxCyberChallenge/afc-xz/tree/challenges/xz-full-01" target=_blank>Challenge Download</a>
            
            </p>
        </div>
        <div class="challenge-stats">
            <h6>AFC Challenge Performance</h6>
            <p>Number of Unique Vulnerabilities Discovered: #</p>
            <p>Number of Teams with Scoring PoVs: 3</p>
            <p>Number of Teams with Scoring Patches: 3</p>
            <p>Number of Teams with Scoring Bundles: 3</p>
            <br>
            <p>Total Points Scored for this Challenge: 40.44873320270131</p>
        </div>
    </div>

    <div class="challenge-readme">
        {% capture challenge_readme %}{% include_relative README.md %}{% endcapture %}{{ challenge_readme | markdownify }}
    </div>

    
    <h3>Challenge Harnesses</h3>
    <div class="container">
    <ul>
        
        <li>
            fuzz_decode_stream
        </li>
        
        <li>
            fuzz_encode_stream
        </li>
        
        <li>
            fuzz_decode_stream_mt
        </li>
        
        <li>
            fuzz_decode_alone
        </li>
        
    </ul>
    </div>
    

    

    
        <h3>Challenge Sarif Broadcast</h3>
        <p>Target .aixcc/vulns/xz-001/vuln.yaml</p>
        
            <p>Sarif is correct</p>
        
        <div class="scrollable-div">
            <pre><code>PLACEHOLDER FOR SARIF</code></pre>
        </div>
    

    
        <hr>
        <h1>Challenge Vulnerabilities</h1>
        <ul>
            
                <h2>Tree-based Checksum</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>bitsentience</p>
                        <p><b>Harness: </b>fuzz_encode_stream</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-416
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/xz-001/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
            
        </ul>
    
  </div>
</main>