---
layout: default
title: wireshark cold double
permalink: /challenges/wireshark/cold_double/
---

<main>
  <div class="container challenge-content">
    <h1>cold double</h1>

    <div class="challenge-info-grid">
        <div class="challenge-info">
            <h6>Challenge Information</h6>
            <p><b>Project: </b>wireshark</p>
            <p><b>Type: </b>full</p>
            <p><b>Harnesses: </b>47</p>
            <p><b>Vulnerabilities: </b>6</p>
            <br>
            <p>
            <a href="https://github.com/AIxCyberChallenge/afc-wireshark/tree/challenges/ws-full-01" target=_blank>GitHub</a>
            • 
            <a href="https://github.com/AIxCyberChallenge/afc-wireshark/tree/challenges/ws-full-01" target=_blank>Challenge Download</a>
            
            </p>
        </div>
        <div class="challenge-stats">
            <h6>AFC Challenge Performance</h6>
            <p>Number of Unique Vulnerabilities Discovered: #</p>
            <p>Number of Teams with Scoring PoVs: 3</p>
            <p>Number of Teams with Scoring Patches: 2</p>
            <p>Number of Teams with Scoring Bundles: 2</p>
            <br>
            <p>Total Points Scored for this Challenge: 68.79359010997075</p>
        </div>
    </div>

    <div class="challenge-readme">
        {% capture challenge_readme %}{% include_relative README.md %}{% endcapture %}{{ challenge_readme | markdownify }}
    </div>

    
    <h3>Challenge Harnesses</h3>
    <div class="container">
    <ul>
        
        <li>
            handler_lpp
        </li>
        
        <li>
            handler_wlan_noqos
        </li>
        
        <li>
            handler_cflow
        </li>
        
        <li>
            handler_ber
        </li>
        
        <li>
            handler_dis
        </li>
        
        <li>
            handler_rnsap
        </li>
        
        <li>
            handler_netbios
        </li>
        
        <li>
            handler_its
        </li>
        
        <li>
            handler_wlan_withfcs
        </li>
        
        <li>
            handler_zbee_aps
        </li>
        
        <li>
            handler_x2ap
        </li>
        
        <li>
            handler_wlan
        </li>
        
        <li>
            handler_wlan_withoutfcs
        </li>
        
        <li>
            handler_ngap
        </li>
        
        <li>
            handler_bat.vis
        </li>
        
        <li>
            handler_xiri
        </li>
        
        <li>
            handler_woww
        </li>
        
        <li>
            handler_asterix
        </li>
        
        <li>
            handler_e1ap
        </li>
        
        <li>
            handler_f1ap
        </li>
        
        <li>
            handler_ngap_media_type
        </li>
        
        <li>
            handler_telnet
        </li>
        
        <li>
            handler_json
        </li>
        
        <li>
            handler_zbee_zdp
        </li>
        
        <li>
            handler_icmp
        </li>
        
        <li>
            handler_rrc
        </li>
        
        <li>
            handler_json_file
        </li>
        
        <li>
            handler_netflow_tcp
        </li>
        
        <li>
            handler_wlan_centrino
        </li>
        
        <li>
            handler_bat.gw
        </li>
        
        <li>
            handler_s1ap
        </li>
        
        <li>
            handler_xnap
        </li>
        
        <li>
            handler_lppe
        </li>
        
        <li>
            handler_irc
        </li>
        
        <li>
            handler_nbap
        </li>
        
        <li>
            handler_gvcp
        </li>
        
        <li>
            handler_bat
        </li>
        
        <li>
            handler_e1ap_tcp
        </li>
        
        <li>
            handler_openvpn.udp
        </li>
        
        <li>
            handler_netflow
        </li>
        
        <li>
            handler_hcrt
        </li>
        
        <li>
            handler_aim
        </li>
        
        <li>
            handler_lte_rrc.dl_ccch
        </li>
        
        <li>
            handler_wlan_bsfc
        </li>
        
        <li>
            handler_icmp_extension
        </li>
        
        <li>
            handler_openvpn.tcp
        </li>
        
        <li>
            handler_ansi_map
        </li>
        
    </ul>
    </div>
    

    

    

    
        <hr>
        <h1>Challenge Vulnerabilities</h1>
        <ul>
            
                <h2>Wireshark OpenVPN UDP Control Packet Buffer Overflow</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>Sierra Haex</p>
                        <p><b>Harness: </b>handler_openvpn.udp</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-121
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_001/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
                    <hr>
                
            
                <h2>wireshark telnet subcommand use-after-free</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>anonymous</p>
                        <p><b>Harness: </b>handler_telnet</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-416
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_002/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
                    <hr>
                
            
                <h2><batman pun></h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>Sierra Haex</p>
                        <p><b>Harness: </b>handler_bat.vis</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-134
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_005/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
                    <hr>
                
            
                <h2>wireshark netbios terminate trace signature overflow</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>anonymous</p>
                        <p><b>Harness: </b>handler_netbios</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-122
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_010/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
                    <hr>
                
            
                <h2>Can I be your AIM buddy?</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>Sierra Haex</p>
                        <p><b>Harness: </b>handler_aim</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-121
                        
                        , 
                        
                        
                        CWE-122
                        
                        , 
                        
                        
                        CWE-680
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_011/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
                    <hr>
                
            
                <h2>Zigg before Free</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>Sierra Haex</p>
                        <p><b>Harness: </b>handler_zbee_zdp</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-457
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/vuln_012/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
            
        </ul>
    
  </div>
</main>