---
layout: default
title: curl Very Normal, Everything Is Fine V3
permalink: /challenges/curl/Very_Normal_Everything_Is_Fine_V3/
---

<main>
  <div class="container challenge-content">
    <h1>Very Normal, Everything Is Fine V3</h1>

    <div class="challenge-info-grid">
        <div class="challenge-info">
            <h6>Challenge Information</h6>
            <p><b>Project: </b>curl</p>
            <p><b>Type: </b>delta</p>
            <p><b>Harnesses: </b>17</p>
            <p><b>Vulnerabilities: </b>1</p>
            <br>
            <p>
            <a href="https://github.com/AIxCyberChallenge/afc-curl/tree/challenges/cu-delta-03" target=_blank>GitHub</a>
            • 
            <a href="https://github.com/AIxCyberChallenge/afc-curl/tree/challenges/cu-delta-03" target=_blank>Challenge Download</a>
            
                • 
                <a href="https://github.com/AIxCyberChallenge/afc-curl/compare/458897b4ba4d743c1dbc2fce0607dc3802b695e3...challenges/cu-delta-03" target=_blank>Challenge Diff</a>
            
            </p>
        </div>
        <div class="challenge-stats">
            <h6>AFC Challenge Performance</h6>
            <p>Number of Unique Vulnerabilities Discovered: #</p>
            <p>Number of Teams with Scoring PoVs: 0</p>
            <p>Number of Teams with Scoring Patches: 1</p>
            <p>Number of Teams with Scoring Bundles: 0</p>
            <br>
            <p>Total Points Scored for this Challenge: 4.033229816635674</p>
        </div>
    </div>

    <div class="challenge-readme">
        {% capture challenge_readme %}{% include_relative README.md %}{% endcapture %}{{ challenge_readme | markdownify }}
    </div>

    
    <h3>Challenge Harnesses</h3>
    <div class="container">
    <ul>
        
        <li>
            curl_fuzzer_https
        </li>
        
        <li>
            curl_fuzzer_ftp
        </li>
        
        <li>
            curl_fuzzer_tftp
        </li>
        
        <li>
            curl_fuzzer_rtsp
        </li>
        
        <li>
            curl_fuzzer
        </li>
        
        <li>
            curl_fuzzer_pop3
        </li>
        
        <li>
            curl_fuzzer_ws
        </li>
        
        <li>
            curl_fuzzer_gopher
        </li>
        
        <li>
            curl_fuzzer_dict
        </li>
        
        <li>
            curl_fuzzer_bufq
        </li>
        
        <li>
            curl_fuzzer_smb
        </li>
        
        <li>
            curl_fuzzer_mqtt
        </li>
        
        <li>
            curl_fuzzer_smtp
        </li>
        
        <li>
            curl_fuzzer_file
        </li>
        
        <li>
            curl_fuzzer_imap
        </li>
        
        <li>
            curl_fuzzer_http
        </li>
        
        <li>
            fuzz_url
        </li>
        
    </ul>
    </div>
    

    

    
        <h3>Challenge Sarif Broadcast</h3>
        <p>Target .aixcc/sarif/false-sarif.yaml</p>
        
            <p>Sarif is incorrect</p>
        
        <div class="scrollable-div">
            <pre><code>PLACEHOLDER FOR SARIF</code></pre>
        </div>
    

    
        <hr>
        <h1>Challenge Vulnerabilities</h1>
        <ul>
            
                <h2>curl-007, hard difficulty crash</h2>

                <div class="vuln-info-grid">
                    <div class="vuln-details">
                        <h6>Vulnerability Information</h6>
                        <p><b>Author: </b>David Wank</p>
                        <p><b>Harness: </b>curl_fuzzer_ws</p>
                        
                        <p><b>CWE Classification: </b>
                        
                        CWE-476
                        
                        
                        </p>
                        
                    </div>
                </div>


                <div class="vuln-readme">
                    {% capture vuln_readme %}{% include_relative vulns/curl-007/README.md %}{% endcapture %}{{ vuln_readme | markdownify }}
                </div>
                
            
        </ul>
    
  </div>
</main>